html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 7.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: white;
  }
} */

/* Customized Graphs */

/* .recharts-cartesian-axis-tick-line, .recharts-cartesian-axis-line {
  display: none !important;
} */

.recharts-cartesian-axis-tick-value {
  font-size: 8px !important;
  font-weight: 600 !important;
  fill: #bbbbc7;
}

.headerCell {
  background-color: #4692fe !important ;
  color: white;
}
